In [86]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [87]:
data = np.zeros([535, 5])

In [88]:
f = open('data.log')
row = -1
col = 0
for line in f.readlines():
    string = line.split(":")
    if len(string) != 1:
        data[row, col] = string[1]
        col = col + 1
    else:
        row = row + 1
        col = 0

In [89]:
data = np.concatenate([data[-1,:][np.newaxis,:],data[:-1]])

In [90]:
data = pd.DataFrame(data, columns=["tx_data", "sender", "next_freq", "rssi", "lqi"])
data

     tx_data  sender  next_freq  rssi   lqi
0      131.0     2.0       51.0 -49.0  44.0
1      131.0     2.0      101.0 -46.0  44.0
2      131.0     2.0      151.0 -43.0  44.0
3      131.0     2.0      201.0 -41.0  43.0
4      131.0     2.0      251.0 -39.0  43.0
..       ...     ...        ...   ...   ...
530    448.0     4.0      101.0 -44.0  43.0
531    448.0     4.0      151.0 -42.0  41.0
532    448.0     4.0      201.0 -41.0  42.0
533    448.0     4.0      251.0 -41.0  42.0
534    448.0     4.0        1.0 -41.0  42.0

[535 rows x 5 columns]

In [91]:
data['tx_data'].value_counts()

448.0    174
131.0    150
130.0    123
447.0     88
Name: tx_data, dtype: int64

In [92]:
data.iloc[:,0][data.iloc[:,0] == 130.0] = 1
data.iloc[:,0][data.iloc[:,0] == 131.0] = 1
data.iloc[:,0][data.iloc[:,0] == 447.0] = 2
data.iloc[:,0][data.iloc[:,0] == 448.0] = 2

In [93]:
data['diff'] = data.sender.diff()
data.iloc[0,-1] = -1

In [94]:
data

     tx_data  sender  next_freq  rssi   lqi  diff
0        1.0     2.0       51.0 -49.0  44.0  -1.0
1        1.0     2.0      101.0 -46.0  44.0   0.0
2        1.0     2.0      151.0 -43.0  44.0   0.0
3        1.0     2.0      201.0 -41.0  43.0   0.0
4        1.0     2.0      251.0 -39.0  43.0   0.0
..       ...     ...        ...   ...   ...   ...
530      2.0     4.0      101.0 -44.0  43.0   0.0
531      2.0     4.0      151.0 -42.0  41.0   0.0
532      2.0     4.0      201.0 -41.0  42.0   0.0
533      2.0     4.0      251.0 -41.0  42.0   0.0
534      2.0     4.0        1.0 -41.0  42.0   0.0

[535 rows x 6 columns]

In [138]:
data['diff'].value_counts()

 0.0    442
 1.0     62
-2.0     30
-1.0      1
Name: diff, dtype: int64

In [160]:
stacked_data = np.zeros([data['diff'].value_counts()[-2]*3+3, 8])

In [161]:
sender = 0
row_num = -1
for index,row in data.iterrows():
    if row['diff'] != 0:
        sender = row.sender
        row_num += 1
    stacked_data[row_num, 0] = row.tx_data
    stacked_data[row_num, 1] = sender
    if row.next_freq == 51.0:
        stacked_data[row_num, 2] = row.rssi
    elif row.next_freq == 101.0:
        stacked_data[row_num, 3] = row.rssi
    elif row.next_freq == 151.0:
        stacked_data[row_num, 4] = row.rssi
    elif row.next_freq == 201.0:
        stacked_data[row_num, 5] = row.rssi
    elif row.next_freq == 251.0:
        stacked_data[row_num, 6] = row.rssi
    elif row.next_freq == 1.0:
        stacked_data[row_num, 7] = row.rssi

In [162]:
stacked_data = stacked_data[:,:-1]

In [164]:
stacked_data

array([[  1.,   2., -49., -46., -43., -41., -39.],
       [  1.,   3., -56., -57., -55., -52., -50.],
       [  1.,   4., -59., -62., -70., -65., -58.],
       [  1.,   2., -50., -49., -50., -50., -51.],
       [  1.,   3., -46., -46., -45., -42., -41.],
       [  1.,   4., -58., -63., -73., -64., -55.],
       [  1.,   2., -50., -49., -46., -44., -42.],
       [  1.,   3., -54., -50., -47., -46., -43.],
       [  1.,   4., -41., -44., -45., -43., -41.],
       [  1.,   2., -46., -47., -49., -48., -49.],
       [  1.,   3., -50., -48., -47., -44., -42.],
       [  1.,   4., -51., -50., -49., -47., -46.],
       [  1.,   2., -46., -46., -48., -47., -45.],
       [  1.,   3., -52., -50., -51., -50., -51.],
       [  1.,   4., -48., -48., -48., -47., -48.],
       [  1.,   2., -42., -41., -40., -41., -45.],
       [  1.,   3., -49., -48., -47., -45., -42.],
       [  1.,   4., -45., -49., -52., -48., -48.],
       [  1.,   2., -41., -43., -45., -43., -41.],
       [  1.,   3., -45., -44., -46., -47., -44.],
       [  1.,   4., -38., -38., -38., -39., -40.],
       [  1.,   2., -50., -50., -55., -45., -41.],
       [  1.,   3., -78., -59., -53., -49., -46.],
       [  1.,   4., -46., -45., -53., -51., -51.],
       [  1.,   2., -42., -41., -41., -41., -44.],
       [  1.,   3., -48., -49., -46., -43., -45.],
       [  1.,   4., -56., -65., -53., -51., -51.],
       [  1.,   2., -41., -43., -43., -40., -36.],
       [  1.,   3., -44., -42., -43., -45., -44.],
       [  1.,   4., -47., -57., -52., -42., -38.],
       [  1.,   2., -35., -35., -37., -38., -35.],
       [  1.,   3., -58., -53., -47., -46., -45.],
       [  1.,   4., -54., -52., -49., -53., -56.],
       [  1.,   2., -34., -32., -31., -30., -29.],
       [  1.,   3., -64., -59., -58., -58., -50.],
       [  1.,   4., -56., -55., -57., -57., -47.],
       [  1.,   2., -58., -80., -56., -50., -46.],
       [  1.,   3., -49., -48., -47., -47., -51.],
       [  1.,   4., -52., -58., -58., -57., -53.],
       [  1.,   2., -42., -42., -42., -42., -46.],
       [  1.,   3., -54., -47., -46., -44., -41.],
       [  1.,   4., -56., -51., -47., -46., -44.],
       [  1.,   2., -43., -44., -47., -53., -45.],
       [  1.,   3., -59., -65., -61., -58., -56.],
       [  1.,   4., -52., -50., -47., -47., -44.],
       [  1.,   2., -49., -52., -57., -52., -49.],
       [  1.,   3., -56., -57., -59., -53., -49.],
       [  1.,   4., -47., -45., -44., -42., -42.],
       [  2.,   2., -49., -47., -47., -46., -45.],
       [  2.,   3., -49., -50., -47., -46., -45.],
       [  2.,   4., -35., -36., -35., -34., -34.],
       [  2.,   2., -40., -39., -39., -40., -41.],
       [  2.,   3., -57., -63., -64., -66., -52.],
       [  2.,   4., -50., -46., -43., -44., -45.],
       [  2.,   2., -52., -70., -52., -47., -46.],
       [  2.,   3., -41., -40., -39., -38., -38.],
       [  2.,   4., -47., -47., -44., -42., -40.],
       [  2.,   2., -45., -46., -47., -46., -46.],
       [  2.,   3., -35., -35., -34., -33., -33.],
       [  2.,   4., -36., -35., -35., -35., -35.],
       [  2.,   2., -45., -45., -46., -46., -49.],
       [  2.,   3., -47., -49., -48., -46., -45.],
       [  2.,   4., -36., -35., -35., -35., -35.],
       [  2.,   2., -55., -54., -60., -70., -58.],
       [  2.,   3., -47., -47., -47., -49., -50.],
       [  2.,   4., -40., -42., -45., -46., -45.],
       [  2.,   2., -37., -35., -35., -36., -39.],
       [  2.,   3., -54., -53., -51., -53., -57.],
       [  2.,   4., -42., -44., -46., -48., -48.],
       [  2.,   2., -46., -45., -46., -47., -46.],
       [  2.,   3., -52., -52., -53., -62., -57.],
       [  2.,   4., -41., -41., -41., -40., -39.],
       [  2.,   2., -35., -39., -37., -35., -35.],
       [  2.,   3., -59., -53., -51., -51., -51.],
       [  2.,   4., -51., -50., -52., -54., -55.],
       [  2.,   2., -43., -41., -41., -41., -42.],
       [  2.,   3., -51., -50., -50., -52., -58.],
       [  2.,   4., -44., -44., -43., -44., -45.],
       [  2.,   2., -45., -58., -56., -53., -50.],
       [  2.,   3., -51., -52., -49., -45., -44.],
       [  2.,   4., -34., -33., -34., -34., -34.],
       [  2.,   2., -36., -35., -34., -34., -35.],
       [  2.,   3., -40., -39., -38., -39., -40.],
       [  2.,   4., -39., -40., -40., -41., -43.],
       [  2.,   2., -55., -52., -52., -58., -49.],
       [  2.,   3., -39., -38., -39., -40., -42.],
       [  2.,   4., -37., -35., -34., -33., -32.],
       [  2.,   2., -43., -41., -41., -45., -47.],
       [  2.,   3., -53., -52., -51., -53., -52.],
       [  2.,   4., -44., -42., -41., -40., -41.],
       [  2.,   2., -41., -41., -42., -45., -42.],
       [  2.,   3., -47., -45., -42., -40., -40.],
       [  2.,   4., -48., -44., -42., -41., -41.]])

In [167]:
stacked_data.shape[0]

93

In [ ]:
stacked_data2 = np.zeros([stacked_data.shape[0]*5, 5])

In [ ]:
data_row = 0
row_num = 0
while row_num < stacked_data.shape[0]:
    col_num = 2
    while col_num < 7:
        stacked_data2[data_row, 0] = stacked_data[row_num, 0]
        stacked_data2[data_row, 1] = 1
        stacked_data2[data_row, 2] = stacked_data[row_num, col_num]
        stacked_data2[data_row, 3] = stacked_data[row_num+1, col_num]
        stacked_data2[data_row, 4] = stacked_data[row_num+2, col_num]
        col_num += 1
        data_row += 1
    row_num += 3